<div class="container">
    <h1>Home Page</h1>
    <p>
      Welcome to Nathan's Site of Knicks and Knacks! 
      This wonderfull website is a place to peruse the many varied KnickKnacks being sold by Nathan.
      To add your own product to our magnificent store visit our <a route="/add">add</a> page.
      If you are here to purchase one of our delightfull KnickKancks visit our <a route="/list">list</a> page.
      To learn all about Nathan the genius creator of this website visit our <a route="/about">about</a> page.
      If you in any way find this site unexceptional please contact us at our <a route="/contact">contact</a> page.
      We hope you enjoy this fantastic webbed site and it's many pleasent KnickKancks.


    </p>
  </div>