<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Nathan's Store of Knicks and Knacks</title>
    </head>
    <body>
        <main>
            <div id="app"></div>
        </main>
    </body>
</html>
